<nav class="responsive-nav">
  <!-- Logo -->
  <div class="flex items-center space-x-2">
    <span class="font-semibold text-lg">CTU Student's Tools</span>
  </div>

  <!-- Hamburger Icon (Mobile) -->


  <!-- Menu -->
  <ul class="menu" id="nav-menu">
    <li class="flex items-center space-x-1 hover:text-sky-500 cursor-pointer">
  <a href="/index.html">Trang chủ</a>
    </li>
    <!-- Dropdown menu -->
    <li class="menu__tools group relative">
      <div class="flex items-center space-x-1 hover:text-sky-500 cursor-pointer">
        <span>Công cụ</span>
        <i class="fa-solid fa-angle-down"></i>
      </div>
      <ul class="menu_tools__list absolute hidden group-hover:block bg-sky-600 shadow-lg rounded">
        <li class="px-4 py-2 hover:bg-sky-500 cursor-pointer">
          <a href="/public/hocba.html">Quy đổi học bạ</a>
        </li>
        <li class="px-4 py-2 hover:bg-sky-500 cursor-pointer">
          <a href="/public/vsat.html"></i>Quy đổi VSAT</a>
        </li>
      </ul>
    </li>
    <li class="flex items-center space-x-1 hover:text-sky-500 cursor-pointer">
  <a href="/public/huongdan.html">Hướng dẫn</a>
    </li>
    <li class="flex items-center space-x-1 hover:text-sky-500 cursor-pointer">
  <a href="/public/lienhe.html">Liên hệ</a>
    </li>
  </ul>
  <div class="flex">
    <button id="nav-toggle" class="block md:hidden text-2xl p-2 ml-2 rounded hover:bg-sky-500 transition">
      <i class="fas fa-bars"></i>
    </button>
    <!-- Toggle theme -->
    <button id="theme-toggle" class="text-xl p-2 rounded-full hover:bg-sky-500 transition cursor-pointer">
      <i class="fas fa-moon"></i>
    </button>
  </div>
</nav>