@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  transition: background-color 0.8s ease;
}

:root {
  background-color: #f5f5f9;
  --bs-color-bg: #f5f5f9;
  --color-bg: #1f5ca9;
  --color-bg-light: #00afef;
  --color-text: #fff;
  --color-border: #3d3d3d38;
  --color-border-hover: #1f5ca9;
  --bs-bor-ras: 8px;
  --bs-transition: all 0.2s ease;
}

.dark-theme {
  background-color: #1c1c1c;
  --color-bg: #14407d;
  --color-bg-light: #00afef;
  --color-text: #fff;
  --color-border: #3d3d3d38;
  --color-border-hover: #1f5ca9;
}