@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  transition: all 0.2s ease;
}

:root {
  --color-bg: #1f5ca9;
  --color-bg-light: #00afef;
  --color-text: #fff;
}

.dark-theme {
  background-color: #001d3d;
  --color-bg: #1f5ca9;
  --color-bg-light: #00afef;
  --color-text: #fff;
}



