@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  transition: background-color 0.8s ease;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: var(--bs-color-bg);
}

:root {
  --bs-gradient-bg: linear-gradient(to right, #1f5ca9, #00afef);
  --bs-color-bg: #f5f5f9;
  --color-bg: #1f5ca9;
  --color-bg-light: #00afef;
  --color-text: #fff;
  --color-border: #3d3d3d38;
  --color-border-hover: #1f5ca9;
  --bs-bor-ras: 8px;
  --bs-transition: all 0.3s ease;
  --bs-color-card: #fff;
  --color-text-card: #333;
  --bs-color-input-bg: #fff;
  --bs-result-bg: #2a80ff;
  --bs-result-bg-light: #00b8db;
  --bs-result-gradient: linear-gradient(to right, var(--bs-result-bg-light), var(--bs-result-bg));
}

.dark {
  --bs-gradient-bg: linear-gradient(to right, #1E293B, #334155);
  --bs-color-bg: #1E293B;
  --color-bg: #1f5ca9;
  --color-bg-light: #00afef;
  --color-text: #F8FAFC;
  --color-border: #64748B;
  --color-border-hover: #60A5FA;
  --bs-bor-ras: 8px;
  --bs-transition: all 0.2s ease;
  --bs-color-card: #334155;
  --color-text-card: #fff;
  --bs-color-input-bg: #475569;
  --bs-result-bg: #2a80ff;
  --bs-result-bg-light: #00b8db;
}