main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

nav,
footer>div {
  background: var(--bs-gradient-bg);
  color: var(--color-text);
}

.links-items .item-header {
  position: relative;
  transition: 0.3s ease;
  font-weight: 600;
}

.links-items .item-header::after {
  content: '';
  width: 0;
  height: 4px;
  position: absolute;
  background: var(--color-text-hover);
  left: 0;
  bottom: -6px;
  transition: 0.3s ease;
}

.links-items .item-header:hover {
  color: var(--color-text-hover);
}

.links-items .item-header:hover::after {
  width: 100%;
}

/* ===================================== */

/* SECTION HOME PAGE */
main section {
  width: 100%;
}

section#hero {
  min-height: 600px;
}

section#hero,
.hero-bg {
  background: var(--bs-section-hero-bg);
  background-size: 400% 400%;
  animation: gradient-shift 15s ease infinite;
}

section#hero>div {
  background: var(--bs-color-bg);
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



section#hero h1 {
  font-weight: 700;
  color: var(--color-text-card);
  transition: var(--bs-transition);
}

section#hero p {
  font-weight: 400;
  color: var(--color-text-card);
}



section#hero lord-icon {
  width: 400px;
  height: 400px;
}

.landing-btn {
  padding: 0.8rem 1.2rem;
  background: var(--color-bg);
  color: var(--color-text);
  box-shadow: var(--bs-box-shadow);
  transition: var(--bs-transition);
  cursor: pointer;
}

.landing-btn:hover {
  background: var(--secondary);
  animation: none;
}

.watch-guide-btn {
  background: var(--color-text);
  color: var(--color-bg);
  border: 1px solid var(--color-bg);
}

.flash-btn {
  position: relative;
  transition: 0.3s ease;
  overflow: hidden;
}


.flash-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent 0%,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 100%);
  transform: skewX(-30deg);
  transition: all 0.8s ease;
  z-index: 1;
}

.flash-btn:hover::after {
  left: 200%;
}

.text-shadow-cus {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.section__title {
  font-weight: 700;
  color: var(--color-section-title);
}

.section__box h3 {
  font-weight: 600;
}

/* SECTION FEATURES */

.section__box {
  background: var(--bs-color-card);
  padding: 1rem;
  border-top: 5px solid var(--color-border-section-card);
  border-radius: 15px;
  color: var(--color-text-card);
  position: relative;
}

.feature__box .section__box {
  border: none;
  overflow: hidden;
}

.feature__box .section__dot {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 100%;
  top: 15px;
  right: 15px;
  background: var(--color-border-section-card-light);
}

.feature__box .section__box::after {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--color-border-section-card-light);
  position: absolute;
  border-radius: 100%;
  top: 15px;
  right: 15px;
  transition: all 0.5s ease;
  z-index: -1;
}

.feature__box .section__box:hover::after {
  transform: scale(90);
}

.feature__box .section__box:hover {
  color: white !important;
}

.feature__box:hover {
  animation: none;
}

.feature__box:nth-child(1) {
  animation-range: entry 0% cover 40%;
}

.feature__box:nth-child(2) {
  animation-range: entry 10% cover 50%;
}

.feature__box:nth-child(3) {
  animation-range: entry 20% cover 60%;
}

/*  SECTION TESTIMONIALS*/

.section__subtitle {
  color: var(--color-text-card);
}

div#testimonials-container > *{
  transition: var(--bs-transition);
}

.testimonial__card {
  border-radius: 15px;
  break-inside: avoid;
  background: var(--bs-color-card);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: var(--color-text-card);
}

.person__avt {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-border-section-card-light);
  color: var(--color-text);
  overflow: hidden;
}

.person__avt img {
  object-fit: cover;
}

.person p {
  font-weight: 600;
}


/* SECTION TOOLS PREVIEW */

.tools-btn {
  width: max-content;
}

.tools-btn.tools-btn-inactive {
  background: #9ca3af;
  cursor: not-allowed;
}

.tools__box:hover {
  animation: none;
}

.tools__box:nth-child(1) {
  animation-range: entry 0% cover 40%;
}

.tools__box:nth-child(2) {
  animation-range: entry 10% cover 50%;
}

.tools__box:nth-child(3) {
  animation-range: entry 20% cover 60%;
}

/* SECTION HOW IT WORK */
section#how-it-work {
  background: var(--bs-section-hiw-bg);
  transition: var(--bs-transition);
}

.step__container {
  border-radius: 20px;
  min-height: 300px;
  max-width: 250px;
  color: var(--color-text-card);
  transition: all 0.3s ease;
  position: relative;
}

.step__behind {
  background: var(--color-bg-light);
  border-radius: 20px;
  min-height: 300px;
  width: 100%;
  transition: all 0.3s ease;
  position: absolute;
  z-index: 0;
}

.step__container:hover>.step__box {
  transform: translateX(15px);
}

.step__container:hover>.step__behind {
  min-height: 350px;
  transform: translateX(-15px);
}

.step__box {
  background: var(--bs-color-bg);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: all 0.3s ease;
  height: 300px;
  z-index: 10;
  position: relative;
}

.step__box h3 {
  font-weight: 600;
}

.step__number {
  width: 150px;
  height: 50px;
  background: var(--color-bg-light);
  position: absolute;
  top: 50px;
  right: 75px;
  transform: translate(50%, -50%);
  padding: 0.5rem 0.8rem;
  color: var(--color-text);
  border-radius: 35px 0 0 35px;
}

/* SECTION FAQ */
section#faq{
  background: var(--bs-section-faq-bg);
  transition: all 0.3s ease;
}

.accordion-item {
  background: var(--bs-color-card);
  width: 90%;
}

.accordion-item > * {
  color: var(--color-text-card);
}

.accordion-item button {
  padding: 1rem 1.25rem;
}

.accordion-content {
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
}

.accordion-content.active {
  max-height: 1000px;
  padding: 1rem;
}

.accordion-item.active .accordion-icon {
  transform: rotate(180deg);
}

/* ===================================== */

#toast-box {
  position: fixed;
  bottom: 30px;
  right: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  height: fit-content;
}

.toast {
  width: 400px;
  height: 80px;
  min-height: fit-content;
  background: var(--bs-color-card);
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
  transform: translateX(100%);
  animation: moveleft 0.5s linear forwards;
  color: var(--color-text-card);
}

.toast i {
  margin: 0 20px;
  font-size: 1.8rem;
  color: #8ac926;
}

.toast.error i {
  color: #ff595e;
}

.toast.invalid i {
  color: #ffca3a;
}

.toast::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #8ac926;
  animation: anim 5s linear forwards;
}

.toast.error::after {
  background-color: #ff595e;
}

.toast.invalid::after {
  background-color: #ffca3a;
}